@font-face {
    font-family: Montserrat-Bold;
    src: url(fonts/Montserrat-Bold.ttf)
}
@font-face {
    font-family: Montserrat-Medium;
    src: url(fonts/Montserrat-Medium.ttf)
}
@font-face {
    font-family: Montserrat-Light;
    src: url(fonts/Montserrat-Light.ttf)
}

main {
    font-family: Montserrat-Bold;
    background-color: #f7F7ff;
}

header,
section,
footer {
    margin: 0 10%;
}

header img { 
    max-width: 40%;
    height: auto;
}

.boss {
    color: #333131;
}
.boss h1 {
    font-size: 5rem;
    margin: 0;
}
.boss p {
    font-family: Montserrat-Light;
    font-size: 1.9rem;
    margin: 10px 0;
}

.scooter {
    display: flex;
    justify-content: center;
}
.scooter img {
    max-width: 50%;
    height: auto;
}

.apply {
    border: 1px solid black;
    /*display: flex;
    flex-direction: column;*/
}
form,
.apply h1,
.apply p{
    margin: 0 10%;
}

input[type="text"] {
    font-family: Montserrat-Light;
}

footer { 
    background-color: #fffd8c;
    margin: 0px;
}
footer p {
    margin: 0 10%;
}

.socialicons {
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}