/* these four "font-face" blocks allow me to import my fonts straight from my computer. where the top line allows me to give the file its own name within this stylesheet and the bottom line allows me to reference and bring in the actual file itself. */
@font-face {
    font-family: Montserrat-Black;
    src: url(fonts/Montserrat-Black.ttf)
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(fonts/Montserrat-Bold.ttf)
}

@font-face {
    font-family: Montserrat-Medium;
    src: url(fonts/Montserrat-Medium.ttf)
}

@font-face {
    font-family: Montserrat-Light;
    src: url(fonts/Montserrat-Light.ttf)
}

/* this block changes the font for the h1s in the html document. also, this changes the entire page's colour. */
main {
    font-family: Montserrat-Bold;
    background-color: #f7F7ff;
}

/* this sets a "worldwide" margin of 10% on the left and right. */
header,
section,
footer,
form,
footer h1,
footer p {
    margin: 0 10%;
}

/* this block alters the size of the Dash logo found at the top of the page. */
header img { 
    max-width: 40%;
    height: auto;
}

/* this block changes the color of the font in the boss class in the html document. */
.boss {
    color: #333131;
}

/* this block affects the font-size (changing it to 80px) and the margin (0px all around) of the "Want to be your own boss?" blurb at the top of the page. */
.boss h1 {
    font-size: 5rem;
    margin: 0;
}

/* the same thing that's happening in the block above, is happening in this block, however we're changing the font to a lighter Montserrat. Also the font-size does not have to be as large as the above block and the margin will be different also to add a bit of extra space. */
.boss p {
    font-family: Montserrat-Light;
    font-size: 1.9rem;
    margin: 10px 0;
}

/* this block of code affects the scooter class, making it fit in the center of the screen and removing any margins. */
/* .scooter {
    display: flex;
    justify-content: center;
    margin: 0;
} */

/* this makes the scooter image itself responsive so if i were to expand the page, the image would adjust accordingly. */
.scooter img {
    max-width: 100%;
    height: auto;
}

/* the form takes its shape thanks to every line of code written within this block of code below. from flexbox, to the border-radius, to adding a shadow to the outside of the form. */
.apply {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 30px;
    box-shadow: 10px 10px 10px rgba(128,128,128, 0.5);
    margin-top: 25px;
    margin-bottom: 50px;
}

/* this aligns the h1 within the apply class to the center of the form, changes its font-size and colour. */
.apply h1 {
    color: #333131;
    font-size: 3rem;
    margin: 15px 10%;
}

/* same thing here as above, only difference is a different font-size and font-family. */
.apply p {
    font-family: Montserrat-Light;
    font-size: 1.25rem;
    color: #333131;
    margin: 0 10%;
}

/* this large block afffects all form input fields where you can type text in. whether it be changing the padding, border-radius, or background color.  */
input[type="text"] {
    font-family: Montserrat-Light;
    background-color: #f4f4f5;
    width: 100%;
    padding: 10px 0px 10px 20px;
    border-radius: 15px;
    border: 0;
    margin: 10px 0;
}

/* just like above, this block affects the terms of service checkbox. */
input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 1px solid #333131;
    margin: 15px 0;
}

/* here deals with the actual text that goes along side the terms of service checkbox. changing it's font-size, colour, and more. */
label[for="agree"] {
    font-family: Montserrat-Light;
    font-size: 1.25rem;
    color: #333131;
    margin-left: 10px;
}

/* the input[type="submit'] deals with the huge "DRIVE WITH US" submission button as well as part of the "CALCULATE" button towards the bottom of the page. */
input[type="submit"] {
    font-family: Montserrat-Bold;
    font-size: 1.5rem;
    background-color: #57eeab;
    color: #333131;
    width: 100%;
    padding: 15px 35px;
    border-radius: 15px;
    border: 0;
}

/* this just affects the "Already Applied?"s line by changing it's colour, font-size, and the margin of it's top and bottom. */
.applied p{
    font-size: 1rem;
    color: #333131;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* right next to the "Already Applied?" is the link, this block of code affects just that. changing the color of it as well as removing any text decorations (such as underlines). */
a {
    color: #ff8480;
    text-decoration: none;
}

/* this sets the colour for the entire footer of the page. it also changes the color of all the text resided here and removes margins. */
footer { 
    background-color: #fffd8c;
    color: #333131;
    margin: 0px;
}

/* here we're affecting the h1 within the footer, altering its font-size to 24px, reducing it's width to 70% and giving it top and bottom padding of 25px. */
footer h1 {
    font-size: 1.5rem;
    width: 70%;
    padding: 25px 0; 
}

/* same as above except we're changing the font-family to a lighter version, reducing it's font-size, and introducing a right margin of 100px. */
footer p {
    font-family: Montserrat-Light;
    font-size: 1.25rem;
    margin-right: 100px;
}

/* here for the form within the footer, there is a simple grid applied that allows for easy placement and positioning of the elements of the form. the left and right margin is also set to auto while the top and bottom margin gets set to 0. */
.footerform {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 2fr;
    margin: 0 auto;
    box-sizing: border-box;
}

/* this positions the "Hours" text box within the footer's form. */
.footerform .hours {
    grid-column: 1 / 2;
    order: 1;
}

/* here, we're also adjusting the horizontal size of the text box to 70% to make it look visually appealing */
input#hours {
    width: 70%;
}

/* same as above, adjusts the size of the text box, as well as the grid positioning and order.. */
input#city {
    width: 95%;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    order: 2;
}

/* this block of code affects only the "CALCULATE" button found in the form in the footer. this changes attributes such as the font-size, both it's background-color, and text colour and adds additional padding as well.  */
footer input[type="submit"] {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    font-size: 2.5rem;
    background-color: #ff8480;
    color: white;
    padding: 5px 35px;
    order: 3;
}

/* finally, this block of code manipulates the bottom four social media icons to look visually appealing. the justify-content: space-evenly; line allows the icons to sit evenly away from one another. */
.socialicons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 25px;
}

/* this @media deals with everything that changes to tablet view. */
@media (min-width: 768px) {
    /* the header image would have been huge if i kept it at max-width: 40px; so i had to cut it in half to 20px to fit nicely at the top of the page. */
    header img { 
        max-width: 20%;
    }

    /* just so that the paragraph text looks neat, i shrank the font-size to 1.5rem (24px). */
    .boss p {
        font-size: 1.5rem;
    }

    /* i used this block of code so that my scooter image will fit nicely in the center of my screen. */
    .scooter img {
        display: block;
        max-width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    /* this simply re-adjusts the padding and border radius to the input fields within the form. i chose to do this because i felt like they were too close together and too round. */
    input[type="text"] {
        padding: 15px 0px 15px 20px;
        border-radius: 5px;
    }

    /* this simply makes the checkbox larger because it was too small. */
    input[type="checkbox"] {
        width: 25px;
        height: 25px;
    }

    /* this adds just a tiny amount of more padding to the top and bottom of the "DRIVE WITH US" submission button, as well as makes the corners more sharp than before. */
    input[type="submit"] {
        padding: 20px 35px;
        border-radius: 5px;
    }

    /* here, i wanted there to be adequate room for the "Already applied?" block to sit so i separated it a bit from the "DRIVE WITH US" submission button by adding the margin-top: 20px;. i also centered the text so that it's not left aligned like how it was previously. */
    .applied p{
        margin-top: 20px;
        text-align: center;
    }

    /* this simply decreases the top and bottom padding of the h1 in the footer so that the footer itself doesn't take up as much room. */
    footer h1 {
        padding: 15px 0; 
    }

    /* this introduces a margin-bottom: 15px; so that it isn't hugging the form within the footer. */
    footer p {
        margin-bottom: 15px;
    }

    /* here, i'm setting up how i'd like the grid to be displayed, with three columns and only one row. */
    .footerform {
        grid-template-columns: 1fr 2fr 2fr;
        grid-template-rows: 1fr;
    }

    /* this gets rid of any margins that input#hours may have had, i included this so that it appears larger and also lines up with the rest of the grid elements. */
    input#hours {
        margin: 0;
    }

    /* here i'm reducing the length of the input field so that it isn't right up against the "CALCULATE" submission button. also, same as before, i removed any margins that it may have had to make it line up with the rest of the grid elements. */
    input#city {
        width: 85%;
        margin: 0;
    }

    /* this gives a new position to the submission button, as well as changes the font-size, and the left and right padding. */
    footer input[type="submit"] {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        font-size: 1.75rem;
        border-radius: 15px;
        padding: 0 35px;
    }

    /* the justify-content: center; lines all the social media icons to the center of the bottom of the screen. i also decreased the top and bottom margin to 10px so that it isn't taking up as much space.  */
    .socialicons {
        justify-content: center;
        padding: 10px 25px;
    }
    /* for this final line of code in the tablet view, instead of having all of the social media icons squished beside one another, i have a padding on the left and right of 25px so that they are at least a bit spread out, while still centered in the middle of the page. */
    .socialicons img {
        padding: 0 25px;
    }
}
/* this @media deals with everything that changes to web view. */
@media (min-width: 1300px) {
    main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 15vh 60vh 25vh;
    }

    main header {
        grid-column: 1 / 2;
    }

    main .boss {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    main .scooter {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    main .apply {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }

    main footer {
        grid-column: 1 / span 3;
        grid-row: 3 / 4;
    }

    .scooter img {
        max-width: 100%;
        margin: auto;
    }

    .apply {
        margin: 0 auto 50px;
        padding-bottom: 30px;
    }

    .apply p {
        font-size: 1rem;
    }

    .apply p:nth-child(2) {
        display: none;
    }

    input[type="text"] {
        padding: 15px 0px 15px 20px;
        border-radius: 5px;
        margin: 5px 0;
    }

    label[for="agree"] {
        font-size: 1rem;
        margin: 5px auto 5px;
    }

    input[type="submit"] {
        padding: 5px 35px;
        border-radius: 5px;
    }

    footer {
        display: flex;
        flex-wrap: wrap;
    }

    footer h1,
    footer p {
        font-size: 1rem;
        padding-bottom: 0px;
    }

    footer h1,
    footer p,
    footer form {
        flex-basis: 100%;
        margin: 0 3%;
    }

    .footerform {
        display: flex;
        width: 10in;
        margin: 0;
    }

    input#hours {
        width: 10%;
    }
    
    input#city {
        width: 20%;
        margin-left: 10px;
    }

    footer input[type="submit"] {
        width: 25%;
        margin-left: 10px;
    }
    
    .socialicons {
        margin-left: auto;
    }
}